<!DOCTYPE html>
<html lang="" ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="FilmesController">
		<h1 class="text-center">Hello World</h1>
		<ul ng-repeat='filme in filmes'>
			<li>{{filme.titulo}}</li>
		</ul>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action="" method="POST" role="form" ng-submit='adicionaFilme()'>
						<legend>Cadastro de filmes</legend>
						
						<div class="form-group">
							<label for="titulo">Titulo</label>
							<input type="text" class="form-control" id="titulo" ng-model='filme.titulo' name="titulo" placeholder="Titulo">
						</div>
						
						<div class="form-group">
							<label for="diretor">Diretor</label>
							<input type="text" class="form-control" id="diretor" ng-model='filme.diretor' name="diretor" placeholder="Diretor">
						</div>
						<div class="form-group">
							<label for="ano">Ano</label>
							<input type="text" class="form-control" id="ano" ng-model='filme.ano' name="ano" placeholder="Ano">
						</div>
						
						<button type="submit" class="btn btn-primary">Enviar</button>
					</form>
				</div>
			</div>
		</div>
		<script src="js/angular.js"></script>
		<script src="controllers/FilmesController.js"></script>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>
</html>